# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel

# CDK output files
infra/cdk.out/
infra/bin/*.js
infra/bin/*.d.ts
infra/lib/*.js
infra/lib/*.d.ts
infra/test/*.js
infra/test/*.d.ts

# Python build and cache files
__pycache__/
*.py[cod]
build/
*.egg-info/
.pytest_cache/
